In [19]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

housing_path = Path("ACTLISCOU12086.csv")
Housing_df = pd.read_csv(housing_path)
Housing_df.head()

         DATE  ACTLISCOU12086
0  2016-07-01         19334.0
1  2016-08-01         19301.0
2  2016-09-01         19313.0
3  2016-10-01         19631.0
4  2016-11-01         20062.0

In [20]:
Housing_df.columns

Index(['DATE', 'ACTLISCOU12086'], dtype='object')

In [21]:
Housing_df = Housing_df.rename(columns={'ACTLISCOU12086': '# of Listings'})
Housing_df.head()

         DATE  # of Listings
0  2016-07-01        19334.0
1  2016-08-01        19301.0
2  2016-09-01        19313.0
3  2016-10-01        19631.0
4  2016-11-01        20062.0

In [23]:
Housing_df.describe()

       # of Listings
count      87.000000
mean    16607.551724
std      5415.895689
min      6376.000000
25%     10711.500000
50%     19631.000000
75%     20886.000000
max     23258.000000